:root {
    --light: white;
    --dark-green: rgb(20, 133, 104);
    --border-bottom: 2px solid white;;
}


* {
    /* Makes the font family universal on entire page */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* this allows a smooth scroll effect when clicking on inner page links */
    scroll-behavior: smooth;
}

body {
    background: powderblue;
}

#title {
    color: var(--light);
    text-align: center;
    font-size: 50px;
}

.container {
    background: var(--dark-green);
    width: 100%;
    height: 200px;
    display: inline-block;
}

#navbar {
    display: flex;
}

#navbar {
    float: right;
    list-style-type: none;
}

#navbar a {
    padding: 20px;
    color: white;
}

#navbar a:hover {
    color: black;
    background: white;
    text-decoration: none;
}

#projects {
    display: block;
}

/* This creates a flex box on the section elements wrapped around our main content */
section {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin: 0 20px 0 0;
    width: 75%;
}

section h2 {
    text-align: center;
    margin-right: 20px;
    border-right: 2px solid var(--light);
    padding: 20px;
    /* this allows the element to be in line with the other section elements */
    flex: 1;
}

img {
    width: 100%;
}

/* Adds another flex box on the image-block class selector */
.image-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

.img-smaller {
    max-width: fit-content;
}

.image-block span:hover {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* this allows the p element to be in line with the h2 element */
section p {
    border: 10px;
    flex: 2;
    margin: auto;
    margin-right: 20px;
    font-size: 18px;
    line-height: 1.5em;
}

/* makes the first project image with the etu class to be larger */
#project {
    max-width: 850px;
}


/* allows the text inside the project image to be placed where I need it to be */
.image-text {
    position: absolute; 
    bottom: 34px; 
    left: 15px;
    background: var(--dark-green);
    color: white; 
    width: 10%;
    font-size: 100%;
    padding: 2%;
    text-align: center;
    min-width: 90px;
  }

  .image-text-lg {
    position: absolute; 
    top: 300px; 
    left: 30px;
    background: var(--dark-green);
    color: white; 
    width: 10%;
    font-size: 100%;
    padding: 2%;
    text-align: center;
    min-width: 90px;
  }


  /* This class is applied to all other projects beside the first one so they are
    smaller in comparison
  */
  .img-text-small {
    max-width: 400px;
    height: auto;
    margin: 10px;
  }

  img-smaller {
      flex-direction: row;
  }

  section p a {
      padding: 20px;
  }

  @media screen and (max-width: 1255px) {
    .image-text-lg {
        top: 250px; 
        left: 30px;
    }
  } 


@media screen and (max-width: 992px) {
    #navbar {
        flex-direction: column;
        width: 100%;
        text-align: center;
        background: var(--dark-green);
    }
    #navbar a {
        text-decoration: none;
    }
    #title {
        background: var(--dark-green);
    }
    .image-block {
        width: 100%;
    }
    .image-text-lg {
        top: 200px; 
        left: 30px;
    }
  }
