:root {
    --light: white;
    --dark-green: rgb(20, 133, 104);
    --border-bottom: 2px solid black;;
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

body {
    background: powderblue;
}

header {
    /*background-color: rgb(83, 189, 154);*/
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    color: var(--light);
    background: var(--dark-green);
}

nav li {
    display: inline;
    float: right;
    border-bottom: var(--border-bottom);
    padding: 8px;
}

nav li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: var(--light);
}

nav li a:hover {
    background: var(--dark-green);
}


#subtitle {
    text-align: right;
    margin-top: 100px;
    background: var(--dark-green);
    color: var(--light);
}

#projects {
    display: block;
}

section {
    display: flex;
    flex-direction: row;
}

section h2 {
    text-align: right;
    margin-right: 20px;
    border-right: 2px solid var(--light);
    padding: 20px;
    flex: 1;
}

img {
    width: 100%;
}

.image-block {
    position: relative;
    display: flex;
  }

section p {
    border: 10px;
    flex: 2;
    margin: auto;
    margin-right: 20px;
}

#etu {
    max-width: 800px;
}

.image-text {
    position: absolute; 
    bottom: 34px; 
    left: 15px;
    background: var(--dark-green);
    color: white; 
    width: 10%;
    font-size: 100%;
    padding: 2%;
    text-align: center;
    min-width: 90px;
  }

  .img-text-small {
    max-width: 400px;
    height: auto;
    border-style: solid;
    margin: 10px;
  }

  img-smaller {
      flex-direction: row;
  }

  section p a {
      padding: 20px;
  }

  @media screen and (max-width: 1024px) {
    .image-block {
        flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 768px) {
    nav {

    }
  }