:root {
    --light: white;
    --dark-green: rgb(20, 133, 104);
    --border-bottom: 2px solid white;;
}


* {
    /* Makes the font family universal on entire page */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* this allows a smooth scroll effect when clicking on inner page links */
    scroll-behavior: smooth;
}

body {
    background: powderblue;
}

header {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    color: var(--light);
    background: var(--dark-green);
}

nav li {
    display: inline;
    float: right;
    border-bottom: var(--border-bottom);
    padding: 8px;
}

nav li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: var(--light);
}

nav li a:hover {
    /* Adds an effect when you hover over the navigation links, it changes the 
    background color
    */
    background: var(--dark-green);
}


#subtitle {
    text-align: right;
    margin-top: 100px;
    background: var(--dark-green);
    color: var(--light);
}

#projects {
    display: block;
}

/* This creates a flex box on the section elements wrapped around our main content */
section {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin: 0 20px 0 0;
}

section h2 {
    text-align: center;
    margin-right: 20px;
    border-right: 2px solid var(--light);
    padding: 20px;
    /* this allows the element to be in line with the other section elements */
    flex: 1;
}

img {
    width: 100%;
}

/* Adds another flex box on the image-block class selector */
.image-block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

/* this allows the p element to be in line with the h2 element */
section p {
    border: 10px;
    flex: 2;
    margin: auto;
    margin-right: 20px;
}

/* makes the first project image with the etu class to be larger */
#etu {
    max-width: 800px;
}


/* allows the text inside the project image to be placed where I need it to be */
.image-text {
    position: absolute; 
    bottom: 34px; 
    left: 15px;
    background: var(--dark-green);
    color: white; 
    width: 10%;
    font-size: 100%;
    padding: 2%;
    text-align: center;
    min-width: 90px;
  }


  /* This class is applied to all other projects beside the first one so they are
    smaller in comparison
  */
  .img-text-small {
    max-width: 400px;
    height: auto;
    border-style: solid;
    margin: 10px;
  }

  img-smaller {
      flex-direction: row;
  }

  section p a {
      padding: 20px;
  }

@media screen and (max-width: 1024px) {
    .image-block {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    
 }